DB_URL=sqlite+aiosqlite:///./drone_management.db
MAVLINK_BIND_HOST=0.0.0.0
MAVLINK_BIND_PORT=14550
DRONE_HOST=127.0.0.1
DRONE_PORT=14551
HTTP_HOST=127.0.0.1
HTTP_PORT=8000
MAVLINK20=1
MAVLINK_DIALECT=ardupilotmega
